{% extends "base.html" %}

{% block title %}{{ asset.name }} Details{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>{{ asset.name }} ({{ asset.serial_number }})</h2>
    <a href="{% url 'edit_asset' asset.id %}" class="btn btn-primary">Edit</a>
</div>

{% if not asset.is_assigned %}
    <a href="{% url 'create_assignment' %}?asset_id={{ asset.id }}" class="btn btn-primary mb-3">Assign</a>
{% else %}
    <span class="mb-3 d-block" style="color: #6c757d;">Currently assigned</span>
    {% if active_assignment %}
        <a href="{% url 'edit_assignment' active_assignment.id %}" class="btn btn-primary mb-3">Update Assignment</a>
    {% endif %}
{% endif %}


<ul>
    <li>Category: {{ asset.category }}</li>
    <li>Brand: {{ asset.brand }}</li>
    <li>Model: {{ asset.model }}</li>
    <li>Status: {{ asset.status }}</li>
    <li>Location: {{ asset.get_current_location }}</li>
    <li>Notes: {{ asset.notes }}</li>
</ul>

<h3>Assignments</h3>
<table class="table table-bordered table-striped align-middle">
    <thead class="table-header">
        <tr>
            <th>User / Team</th>
            <th>Assigned Date</th>
            <th>Returned Date</th>
            <th>Location</th>
            <th>Reason</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            
            <td>
                {% if assignment.entra_user %}
                    {{ assignment.entra_user.upn }}
                {% else %}
                    Team/Room
                {% endif %}
            </td>

            <td>{{ assignment.assigned_date }}</td>
            <td>{{ assignment.returned_date|default:"-" }}</td>
            <td>{{ assignment.location }}</td>
            <td>{{ assignment.assignment_reason }}</td>
            <td>{{ assignment.notes }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No assignments found.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
