{% extends "base.html" %}

{% block content %}
<div class="container text-center" style="margin-top: 15%;">
    {% if not request.user.is_authenticated %}
        <h1 class="display-4 fw-bold">Asset Manager</h1>
        <p class="lead mb-4">Manage your company devices</p>
        <a href="{% url 'ms_login' %}" class="btn btn-primary btn-lg">Log in to explore</a>
    {% else %}
        <h1 class="display-5 mb-4">Welcome, {{ request.user.first_name|default:request.user.username }}!</h1>
        <p class="lead">Use the navigation bar to manage assets, assignments, and users.</p>

        <div class="row text-center my-4">

            <div class="col-md-4">

                <div class="p-4 bg-light rounded shadow">
                    <h5>Total Assets</h5>
                    <p>
                        <a href="{% url 'asset_list' %}"
                            class="fs-2 fw-bold text-decoration-none d-inline-block"
                            style="color: #5C3A21;">
                            {{ total_assets }}
                        </a>
                    </p>
                </div>

                <p class="mt-3" style="color:#996633;">
                    Total number of assets.
                </p>

            </div>

            <div class="col-md-4">

                <div class="p-4 bg-light rounded shadow">

                    <h5>Available Assets</h5>
                    <p>
                        <a href="{% url 'asset_list' %}?unassigned=true&status=Operational"
                            class="fs-2 fw-bold text-decoration-none d-inline-block"
                            style="color: #5C3A21;">
                            {{ unassigned_operational}}
                        </a>
                    </p>

                </div>

                <p class="mt-3" style="color:#996633;">
                    Total unassigned assets with status "Operational".
                </p>

            </div>

            <div class="col-md-4">

                <div class="p-4 bg-light rounded shadow">

                    <h5>Requires Attention</h5>
                    <p>
                        <a href="{% url 'asset_list' %}?status=Pending+Setup&status=Maintenance"
                            class="fs-2 fw-bold text-decoration-none d-inline-block"
                            style="color: #5C3A21;">
                            {{ need_work }}
                        </a>
                    </p>

                </div>

                <p class="mt-3" style="color:#996633;">
                    Total assets with status "Maintenance" or status "Pending Setup".
                </p>

            </div>

        </div>

    {% endif %}
</div>
{% endblock %}
